@import 'tailwindcss';
@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";

body {
    margin: 0;
    justify-content: center;
    min-height: 100vh;
  }